.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: scale(1.1);
  }
  
  .imagem {
    width: 120px;
    height: 120px;
    border-radius: 10px;
    object-fit: cover;
    border: 3px solid #9333ea;
  }
  
  .nome {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: #ccc;
  }
  